<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <classes>
      <class name="restAPIRevision.addComment"/>
      <class name="restAPIRevision.Authentication"/>
      <class name="restAPIRevision.createIssue"/>
      <class name="restAPIRevision.getIssues"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
